body{
    background-color: #5E5F62;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: #BFBFBF;
    margin: 20px;
}

header {
    padding: 60px 0 ;
    border-bottom: 4px solid #0511F2;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3.5em;
    text-shadow: 2px 2px 3px #5E5F62;
}

.col {
    border: 4px solid #0511F2;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.col h2 {
    text-align: center;
    color: #F2E205;
    font-size: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.col #spinner {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    transform-style: preserve-3d;
    text-align:center;
  }
  @keyframes spinner {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

.col p {
    font-size: 1.5em;
    text-align: center;
}
.col img {
    width: 50%;
    width: 60%;
    margin: 20px auto;
}

.main_img {
    display: none;
}

footer {
    padding: 60px 0;
    text-align: center;
    border-top: 4px solid #0511F2;
    font-weight: bold;
    color: #5E5F62;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
}

/* Tablet View */

@media(min-width: 768px) {
    #container {
        border-radius: 20px;
        width: 90%;
        margin: 20px auto;
    }
    .col {
        width: 65%;
        margin: 20px auto;
    }
    .col h2{
        font-size: 2em;
        text-shadow: 2px 1px 3px black;
    }
    .col img {
        width: 30%;
    }
}

/* Desktop View */

@media(min-width: 1024px) {
    #container{
        width: 60%;
        margin: 20px auto;
        border-radius: 25px;
    }

    #flex {
        display: flex;
    }
    .col {
        margin: 5px;
        width: 60%;
    }
    .col img {
        width: 350px;
        height: auto;
       
    }
    .main_img {
        display: block;
        margin: 20px auto;
        width: 350px;
        height: auto; 
    }

}