body{
    background-color: #5E5F62;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: #E6E7E8;
    margin: 20px;
}

header {
    padding: 60px 0 ;
    border-bottom: 4px solid #F29422;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

.col {
    border: 4px solid #F29422;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.col h2 {
    text-align: center;
    color: #5E5F62;
    font-size: 2em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.col p {
    font-size: 1.5em;
    text-align: center;
}
.col img {
    width: 50%;
    width: 60%;
    margin: 20px auto;
}

.main_img {
    display: none;
}

footer {
    padding: 60px 0;
    text-align: center;
    border-top: 4px solid #F29422;
    font-weight: bold;
    color: #5E5F62;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
}

/* Tablet View */

@media(min-width: 768px) {
    #container {
        border-radius: 20px;
        width: 90%;
        margin: 20px auto;
    }
    .col {
        width: 65%;
        margin: 20px auto;
    }
    .col h2{
        font-size: 2em;
        text-shadow: 2px 1px 3px black;
    }
    .col img {
        width: 30%;
    }
}

/* Desktop View */

@media(min-width: 1024px) {
    #container{
        width: 60%;
        margin: 20px auto;
        border-radius: 25px;
    }

    #flex {
        display: flex;
    }
    .col {
        margin: 15px;
        width: 50%;
    }
    .main_img {
        display: block;
        margin: 20px auto;
        width: 25%
    }

}